
.tab1
{
    height: 2cm;  
    width: 30%;
    background-color: #ddb1cb;
    
}
.tab2
{
height: 2cm;
width: 100%;
border-width: 0cm;

background-color: antiquewhite;
border-color: antiquewhite;
}