@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    DateTime today = DateTime.Now;
}

<div class="text-center">
    <h1 class="display-4">Witaj w MyWorkSchedule</h1>
    <p> Aplikacja pozwoli Ci na wygodne zarządzanie czasem pracy oraz obliczy tygodniowe bądź miesięczne wynagrodzenie</p>

    <p>Dzisiejsza data: @today.ToShortDateString()</p>
</div>
