@page
@model MySuperApp.Pages.Calendar.CalendarModel
@{
    ViewData["Title"] = "Calendar";


}

<h3> Tutaj będzie kalendarz</h3>
<div class="container">
    <div class="calendar-container">
        <header>
            <div class="day">18</div>
            <div class="month">August</div>
        </header>
        <table class="calendar">
            <thead>
                <tr>
                    <th class=" day-name">Mon</th>
                    <th class=" day-name">Tue</th>
                    <th class=" day-name">Wed</th>
                    <th class=" day-name">Thu</th>
                    <th class=" day-name">Fri</th>
                    <th class=" day-name">Sat</th>
                    <th class=" day-name">Sun</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="prev-month">29</td>
                    <td class="prev-month">30</td>
                    <td class="prev-month">31</td>
                    <td class="day"><span class="number"> 1 </span></td>
                    <td class="day"><span class="number"> 2 </span></td>
                    <td class="day"><span class="number"> 3 </span></td>
                    <td class="day"><span class="number"> 4 </span></td>

                </tr>
                <tr>
                    <td class="day"><span class="number"> 5 </span></td>
                    <td class="day"><span class="number"> 6 </span></td>
                    <td class="day"><span class="number"> 7</span></td>
                    <td class="day"><span class="number"> 8 </span></td>
                    <td class="day"><span class="number"> 9 </span></td>
                    <td class="day"><span class="number"> 10 </span></td>
                    <td class="day"><span class="number"> 11 </span></td>
                </tr>
                <tr>
                    <td class="day"><span class="number"> 12 </span></td>
                    <td class="day"><span class="number"> 13 </span></td>
                    <td class="day"><span class="number"> 14</span></td>
                    <td class="day"><span class="number"> 15 </span></td>
                    <td class="day"><span class="number"> 16 </span></td>
                    <td class="day"><span class="number"> 17 </span></td>
                    <td class="current-day"><span class="number"> 18 </span></td>
                </tr>
                <tr>
                    <td class="day"><span class="number"> 19</span></td>
                    <td class="day"><span class="number"> 20 </span></td>
                    <td class="day"><span class="number"> 21</span></td>
                    <td class="day"><span class="number"> 22 </span></td>
                    <td class="day"><span class="number"> 23 </span></td>
                    <td class="day"><span class="number"> 24 </span></td>
                    <td class="day"><span class="number"> 25 </span></td>
                </tr>
                <tr>
                    <td class="day"><span class="number"> 19</span></td>
                    <td class="day"><span class="number"> 20 </span></td>
                    <td class="day"><span class="number"> 21</span></td>
                    <td class="day"><span class="number"> 22 </span></td>
                    <td class="day"><span class="number"> 23 </span></td>
                    <td class="day"><span class="number"> 24 </span></td>
                    <td class="day"><span class="number"> 25 </span></td>
                </tr>
                <tr>
                    <td class="day"><span class="number"> 26</span></td>
                    <td class="day"><span class="number"> 27 </span></td>
                    <td class="day"><span class="number"> 28</span></td>
                    <td class="day"><span class="number"> 29 </span></td>
                    <td class="day"><span class="number"> 30 </span></td>
                    <td class="day"><span class="number"> 31 </span></td>
                    <td class="next-month"><span class="number"> 1 </span></td>
                </tr>


            </tbody>
        </table>
        <div class="ring-left"> </div>
        <div class="ring-right"> </div>
    </div>
</div>

    



    
